/* Colors */
:root {
	--custom-yellow: rgb(252, 183, 43);
	--custom-dark-navy: rgb(73, 85, 103);
	--custom-dim-grey: rgb(147, 156, 170);
	--custom-light-grey: rgb(229, 236, 244);
	--custom-snow: rgb(242, 245, 249);
	--custom-light-yellow: rgb(255, 244, 223);
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
	font-family: "Space Mono", sans-serif;
}

p {
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
}

.space-mono-regular {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.space-mono-bold {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
}

.h-text-size-h1-sm {
	font-family: "Space Mono", monospace;
	font-size: 2.5rem;
	line-height: 40px;
	letter-spacing: -1.7857142686843872px;
	text-align: center;
}

.h-text-size-h2 {
	font-family: "Space Mono", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 3rem;
	line-height: 48px;
	letter-spacing: -2.14px;
}

.h-text-size-h3 {
	font-family: "Space Mono", sans-serif;
	font-weight: 700;
	font-style: normal;
	line-height: 48px;
	letter-spacing: -1.79px;
	color: var(--custom-dark-navy);
}

.h-text-size-h4 {
	font-family: "Space Mono", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5rem;
	line-height: 28px;
	letter-spacing: -1.07px;
}

.lexend-deca-400 {
	font-family: "Lexend Deca", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 25px;
	font-size: 0.9375rem;
}

/* Navigation */

.btn-border-no-radius {
	border-radius: 0;
}

#navbarCanvas {
	width: 70%;
	top: 10%;
}

.offcanvas-backdrop {
	top: 10%;
}

.show a {
	color: white;
}

/* Hero */

#hero {
	background-image: url("assets/images/home-hero-mobile.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 650px;
	overflow: hidden;
}

/* Sections */

section {
	margin-bottom: 7.5rem;
}

.p-32 {
	padding: 0 2rem;
}

.px-section {
	padding: 0 2rem;
}

/* Button hover */

.btn-brand {
	margin-top: 2.125rem;
}

.get-scootin-btn {
	width: 180px;
	height: 53px;
}

.btn.btn-warning:hover {
	background-color: transparent !important;
	color: var(--custom-yellow) !important;
}

.white-circles {
	display: none;
}

.right-arrow {
	right: 55%;
	bottom: 5%;
}

.card-body h2 {
}

@media (min-width: 768px) {
	.px-section {
		padding: 0 6.0625rem;
	}

	.gap-md {
		gap: 2rem;
	}

	#hero {
		background-image: url("assets/images/home-hero-tablet.jpg");
	}

	.p-32 {
		padding: 0 4.5625rem;
	}

	.h-text-size-h1-sm {
		font-size: 3.5rem;
	}

	.white-circles {
		display: block;
		width: 234px;
		height: 63px;
		right: -4%;
		bottom: 7%;
	}

	/* Gray line in pick section */

	.dark-gray-line {
		width: 15px;
		height: 513px;
		background-color: #e5ecf4;
		left: 18%;
		top: -22%;
		z-index: -1;
	}
}

@media (min-width: 1440px) {
	#hero {
		background-image: url("assets/images/home-hero-desktop.jpg");
		background-position: right;
	}

	.yellow-line {
		margin-bottom: -5%;
	}

	.right-arrow {
		left: 47%;
		bottom: 24%;
	}

	.white-circles {
		display: block;
		right: -3.5%;
		bottom: 25%;
	}

	.hero-main-text {
		text-align: start;
		margin-top: 60px;
	}

	.hero-main-text h1 {
		text-align: start;
		width: 500px;
		height: 112px;
		margin-left: -10%;
	}

	.hero-main-text p {
		width: 400px;
		height: 100px;
		font-size: 0, 9375rem;
		margin-left: -3%;
	}

	.dark-gray-line {
		width: 974px;
		height: 15px;
		left: 0%;
		top: 15%;
	}
}
