/* Colors */
:root {
  --custom-yellow: rgb(252, 183, 43);
  --custom-dark-navy: rgb(73, 85, 103);
  --custom-dim-grey: rgb(147, 156, 170);
  --custom-light-grey: rgb(229, 236, 244);
  --custom-snow: rgb(242, 245, 249);
  --custom-light-yellow: rgb(255, 244, 223);
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono", sans-serif;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.h-text-size-h1-sm {
  font-family: "Space Mono", monospace;
  font-size: 2.5rem;
  line-height: 40px;
  letter-spacing: -1.7857142686843872px;
  text-align: center;
}

.h-text-size-h2 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 48px;
  letter-spacing: -2.14px;
}

.h-text-size-h3 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  letter-spacing: -1.79px;
  color: var(--custom-dark-navy);
}

.h-text-size-h4 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 28px;
  letter-spacing: -1.07px;
}

.lexend-deca-400 {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  font-size: 0.9375rem;
}

/* Navigation */

.btn-border-no-radius {
  border-radius: 0;
}

#navbarCanvas {
  width: 70%;
  top: 10%;
}

.offcanvas-backdrop {
  top: 10%;
}

.show a {
  color: white;
}

/* Hero */

#hero {
  background-image: url("assets/images/home-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 650px;
  overflow: hidden;
}

/* Sections */

section {
  margin-bottom: 7.5rem;
}

.p-32 {
  padding: 0 2rem;
}

.px-section {
  padding: 0 2rem;
}

/* Button hover */

.btn-brand {
  margin-top: 2.125rem;
}

.get-scootin-btn {
  width: 180px;
  height: 53px;
}

.btn.btn-warning:hover {
  background-color: transparent !important;
  color: var(--custom-yellow) !important;
}

.white-circles {
  display: none;
}

.right-arrow {
  right: 55%;
  bottom: 5%;
}

/* Cards  */

.first-card-arrow {
  bottom: 62%;
  z-index: 1;
}

.second-card-arrow {
  top: 0;
  left: -60%;
  z-index: 1;
}

.third-card-arrow {
  top: 0;
  left: 30%;
  z-index: 1;
}

/* Downloads */

.downloads {
  background-color: var(--custom-dark-navy);
}

.downloads h2 {
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: -1.4285714626312256px;
  font-weight: 700;
  padding-bottom: 2.5rem;
}

.app-store {
  width: 113.58px;
}

.google-play {
  width: 130px;
}

.downloads-semi-circles {
  top: 50%;
  right: -47%;
}

/* footer */

footer a {
  text-decoration: none;
  color: var(--custom-dim-grey);
  font-family: "Space Mono" monospace;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}

footer ul li {
  list-style-type: none;
  color: red;
  padding: 0;
  margin: 0;
}

/* =========== ABOUT PAGE ============= */

#hero-about {
  background-image: url("assets/images/about-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 160px;
}

/* About - Section - Our values */

.about-yellow-value-circle-first {
  position: absolute;
  width: 96px;
  height: 96px;
  background-color: var(--custom-yellow);
  top: 192px;
  left: 105px;
  border-radius: 50%;
}

/* About - Section - Accordion */
/* Bootstrap design of accordion */

.accordion-item {
  margin-bottom: 1rem;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='12'%3E%3Cpath fill='none' stroke='%23FCB72B' stroke-width='3' d='M1 1l8 8 8-8'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='12'%3E%3Cpath fill='none' stroke='%23FCB72B' stroke-width='3' d='M1 1l8 8 8-8'/%3E%3C/svg%3E");
}

/* ============== CAREERS PAGE ========= */

#hero-careers {
  background-image: url("assets/images/careers-location-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 160px;
}



@media (min-width: 768px) {
  .px-section {
    padding: 0 6.0625rem;
  }

  .gap-md {
    gap: 2rem;
  }

  #hero {
    background-image: url("assets/images/home-hero-tablet.jpg");
  }

  .p-32 {
    padding: 0 4.5625rem;
  }

  .h-text-size-h1-sm {
    font-size: 3.5rem;
  }

  .white-circles {
    display: block;
    width: 234px;
    height: 63px;
    right: -4%;
    bottom: 7%;
  }

  /* Gray line in pick section */

  .dark-gray-line {
    width: 15px;
    height: 513px;
    background-color: #e5ecf4;
    left: 18%;
    top: -22%;
    z-index: -1;
  }

  /* Card Section */
  .section-card-image {
    height: 445px;
    width: auto;
  }

  .card-white-circle {
    min-height: 445px;
    left: 95%;
  }

  .card-white-circle-left {
    min-height: 445px;
    right: 95%;
  }

  .first-card-arrow {
    bottom: 50%;
  }

  .second-card-arrow {
    right: 35%;
  }

  .third-card-arrow {
    top: 10%;
    left: 50%;
  }

  .downloads-semi-circles {
    top: 40%;
    right: -20%;
  }

  /* ======== ABOUT PAGE ======= */
  /* About - Hero */

  #hero-about {
    background-image: url("assets/images/about-hero-tablet.jpg");
    min-height: 200px;
  }
  /* About - Section - Our values */

  .about-yellow-value-circle-first {
    top: 192px;
    left: 245px;
  }
  /* Careers Page */
  /* Careers Section Hero */
  #hero-careers {
    background-image: url("assets/images/careers-locations-hero-tablet.jpg");
    min-height: 200px;
  }
}

@media (min-width: 1440px) {
  #hero {
    background-image: url("assets/images/home-hero-desktop.jpg");
    background-position: right;
  }

  .yellow-line {
    margin-bottom: -5%;
  }

  .right-arrow {
    left: 47%;
    bottom: 24%;
  }

  .white-circles {
    display: block;
    right: -3.5%;
    bottom: 25%;
  }

  .hero-main-text {
    text-align: start;
    margin-top: 60px;
  }

  .hero-main-text h1 {
    text-align: start;
    width: 500px;
    height: 112px;
    margin-left: -10%;
  }

  .hero-main-text p {
    width: 400px;
    height: 100px;
    font-size: 0, 9375rem;
    margin-left: -3%;
  }

  .dark-gray-line {
    width: 974px;
    height: 15px;
    left: 0%;
    top: 15%;
  }

  .card-white-circle {
    min-height: 445px;
    left: 100%;
  }

  .card-white-circle-left {
    min-height: 445px;
    right: 100%;
  }

  .first-card-arrow {
    bottom: 10%;
    left: 50%;
  }

  .second-card-arrow {
    left: -18%;
  }

  .third-card-arrow {
    top: 15%;
    left: 80%;
  }

  /* Downloads section */

  .downloads-bg {
    padding: 102px 165px !important;
  }

  .downloads-bg h2 {
    width: 415px;
    height: 96px;
    font-size: 3rem;
    line-height: 48px;
    letter-spacing: -2.142857074737549px;
    text-align: left;
  }

  .app-store {
    width: 159px;
  }

  .google-play {
    width: 182px;
  }

  .downloads-semi-circles {
    top: 60%;
    right: -10%;
  }

  /* ======== ABOUT PAGE ======= */
  /* About - Hero */

  #hero-about {
    background-image: url("assets/images/about-hero-desktop.jpg");
  }

  /* About - Section - Our values */

  .about-yellow-value-circle-first {
    left: 150px;
  }

  /* Career Page - Section - Hero */
  /* Careers Page */
  /* Careers Section Hero */
  #hero-careers {
    background-image: url("assets/images/careers-locations-hero-desktop.jpg");
  }
}
